body {
  background-color: rgb(213, 248, 250);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

main {
  display: block;
  justify-content: center;
  border: 1px solid rgb(231, 234, 235);
  width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(227, 248, 249);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input {
  display: block;
  margin-bottom: 1rem;
}
