body {
  background-color: rgb(230, 249, 250);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input {
  display: block;
  margin-bottom: 1rem;
}
